### Verification des installations

Permet de vérifier si les python, node, firefox sont bien installés.

### Execution
./verif.sh

### Lien Github

[Lien vers le git(https://github.com/yacineKHA/prairie.git)]